.search {
	border-radius: 10px;
	width: 400px;
	border: 1px solid grey;
	padding: 8px

}
.logo {
	padding-top: 220px; 
	width: 300px;
	height: 100px;
}

.button1 {
	padding: 5px
}
.button2 {
	padding: 5px;
	width: 138px;
}
.gmailheader {
	font-family: arial;
	position: fixed;
	top: 0;
	width: 99%;
	font-size: 15px;
	list-style-type: none;
	padding: 0 15px 0 0;
	

}

.gmailtext{
	padding: 5px 5px 5px 5px;
	display: block;
	float: right;
	
}

.apps{
	padding: 5px;
  height: 23px;
  width: 23px;
  background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  background-position: -135px -42px;
  margin-top: 5px;
  opacity: .55;
  display: block;
  float: right;

}

.signin {
	color: white;
	background: #4285f4;
	padding: 5px;
	border: 1px solid #4285f4;
	border-radius: 4px;
	box-sizing: 50px 50px;
	display: block;
	float: right;
}


.footer {
	background-color: #f0efef;
	font-family: arial;
	font-size: small;
	position: fixed;
	bottom: 0;
	width: 100%;
	list-style-type: none;


}
.footerleft{
	background: transparent;
	border: 0;
	background-color: #f0efef;
	float: left;
	display: block;
	width: 100px;
	padding: 5px;

}

.footerright{ 
	background: transparent;
	border: 0;
	background-color: #f0efef;
	float: right;
	display: block;
	width: 100px;
	padding: 5px;
}

a{color: #000;
	text-decoration: none;
}